/vec_test
/first_world
/spreadsheet
/ip_addr
/hashmap
/format
/trait_summary
/read_to_string
/read_from_file
/propagating_errors
/open_file
/generic_struct
/lifetime_struct
/lifetime_longest
/generic_largest
/vec_transform
/iterator_methods
/custom_iterator
